body {
    background-color: burlywood;
}
.arrow {
    margin: 20px;
}

.arrow.right {
    transform: scaleX(-1);
}
.mainImage {
    display: flex;
    padding-bottom: 30px;

}
#photo {
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    width: 650px;
    height: 488px;
    object-fit: cover;
    /*max-height: 487px;*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
 

}
.thumbnails {
    display: flex;
    justify-content: center;
    width: 740px;
    height: 100px;
}

.thumbnail {
    /*margin-top: 60px;*/
    display: flex;
    height: 100px;
    width: 90px;
    object-fit: cover;
    margin: 3px;
    padding: 5px;
    /*position: relative;*/

}

.thumbnail.active {
    border : 5px solid green;
}

/*.thumbnail:hover .data-title {
    display: block;
}*/

.hovered {

    display: flex;
    justify-content: center;
    width: 740px;
    height: 100px;
    margin-bottom: -40px;
}
.hover {

    display:none;
    /*position: relative;*/
    background: grey;
    color: white;
    text-align: center;
    overflow-wrap: break-word;
    /*border-radius: 5px;*/
    margin: 3px;
    padding: 5px;
    height: 40px;
    width: 90px;

}



/*

.hovered:hover .hover {
    display: block;

}

.gray-container {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: gray;
}

.kisKep {
    height: 70px;
    margin: 5px;

}

/*
